
@font-face {
    font-family: "Ubuntu-Regular";
    src: url("fonts/Ubuntu-Regular.ttf");
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 400px;
    margin: 0 auto;
    
    background-color: cadetblue;
    font-family: "Ubuntu-Regular", sans-serif;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.increment-btn .decrement-btn .save-btn {
    padding: 10px 20px;
    font-size: 16px;
    min-width: 100px;
}

.increment-btn {
    background-color: rgb(172, 208, 172);
    color: #ff4244;
}

.decrement-btn {
    background-color: rgb(218, 127, 127);
    color: black;
}

