.container {
    display: flex;
    padding: 12px;
    background-color: aqua;
    border: 4px solid blue;
}

.item {
    background-color: peachpuff;
    border: 4px solid salmon;
    height: 48px;
    flex: 1;
    margin: 4px;
    text-align: center;
    align-items: center;
    /* justify-content: center; */
}