
header {
    background-color: #1f2937;
    padding: 20px 0;
}

.body {
    padding: 30px 300px;
}

.container {
    /* color: white; */
    
    max-width: 1200px; 
    margin: 0 auto;
    padding: 0 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.top {
    color: white;
    background-color: #1f2937;
    font-size: 20px;

    display: flex;
    align-items: center;

    padding: 50px 300px;
}

.top-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}
.top-left h1,
.top-left p {
    margin: 0;
}

.top-right {
    width: 1000px;
    height: 220px;
    background: rgb(147, 142, 142);

    /* flex: 1; */
    display: flex;
    align-items: center;
}

.image-placeholder-text {
    padding: 0px 70px;
}


.middle {
    padding: 50px 300px;
}
.middle {
    text-align: center;
}

.boxes {
    display: flex;
    gap: 30px;
}
.my-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
    text-align: center;
}
.my-box {
    width: 150px;
    height: 150px;
    border: 5px solid lightseagreen;
    background-color: transparent;
    border-radius: 10px;
}

.quote {
    background-color: #d4d7da;
    padding: 30px 300px;
}
.quote p {
    font-size: 36px;
    font-style: italic;
}
.quote h1 {
    padding-right: 100px;
    display: flex;
    flex-direction: row-reverse;
}

.sign-up {
    padding: 50px 200px;
}
.sign-up .main {
    background-color: rgb(8, 178, 240);
    color: rgb(249, 249, 249);

    width: auto;
    height: 100px;
    border-radius: 5px;
    padding: 20px 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    height: 80px;
    color: white;
    background-color: #1f2937;
    align-content: center;
    text-align: center;
}